.type-sentiment-box {
  background: rgb(16, 16, 16);
  border-radius: 6px;
}

.type-sentiment-box li {
  list-style: none;
  padding: 20px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.goodStyle {
  color: green;
}

.negStyle {
  color: red;
}
.recomStyle {
  color: yellow;
}
.allStyle {
  color: white;
}
.clicked {
  background: rgb(0, 0, 0);
  font-weight: bold;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
/* goodStyle',
    'negStyle',
    'recomString',
    'allStyle */
@media only screen and (max-width: 600px) {
  .type-sentiment-box ul {
    display: flex;
  }
}
