.list-comment-box {
  padding: 20px;
  transition: all 0.3s ease-in;
}
.comment-div {
  color: white;
  margin-bottom: 10px;
  /* border-bottom: 1px solid; */
  padding: 20px;
  background: rgb(12, 12, 12);
  border-radius: 6px;
}
